@import "tailwindcss";
@plugin "@tailwindcss/typography";

html, body, #root {
  height: 100%;
  width: 100%;
  color-scheme: light dark;
  background-color: #242424;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}


/*** Normal editor only ***/
.normal-editor {
  flex: 1;
  width: 100%;
  padding: 12px;
  min-height: 100%;
  outline: none;
  font-size: 18px;
  line-height: 1.0;
}

/* No margin for first element */
.normal-editor > :first-child {
  margin-top: 0;
  margin-block-start: 0;
}

.normal-editor p {
  margin-top: 0;
  margin-bottom: 1px;
}

/* List */
.normal-editor ul, .normal-editor ol { 
  padding-left: 1.4em; 
}

/* Link */
.normal-editor a {
  text-decoration: underline;
}