@import "tailwindcss";
@plugin "@tailwindcss/typography";

html, body, #root {
  height: 100%;
  width: 100%;
  color-scheme: light dark;
  background-color: #242424;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}


.ProseMirror:focus {
  outline: none;
}